@inherits LayoutComponentBase;
@using Microsoft.AspNetCore.Components.Authorization;
@using OhMyBoat.UI.Client.Extensions;
@inject AuthenticationStateProvider authStateProvider;
@inject NavigationManager navManager;
@inject IJSRuntime JsRuntime;
@using OhMyBoat.UI.Client.Pages


<div class="page">
    <div class="d-flex flex-column sidebar">
        <NavMenu />
    </div>

    <main>
        <div class="top-row px-4">
            <CascadingAuthenticationState>
                <AuthorizeView>
                    <Authorized>
                        <button class="btn btn-secondary ms-2" @onclick=switchNotificationsComponent><Icon Name="IconName.EnvelopeFill" Size="IconSize.x4"></Icon></button>
                        @if (isOnAccountPage) {
                            <button class="btn account-button ms-2" @onclick=switchAccountComponent><Icon Name="IconName.PersonFill" Size="IconSize.x4"></Icon></button>
                        }
                        @if(showAccount) {
                            <div class="account-popup">
                                <Account/>
                            </div>
                        }
                        @if(showNotifications) {
                            <div class="account-popup">
                                <Notifications/>
                            </div>
                        }
                    </Authorized>
                </AuthorizeView>
            </CascadingAuthenticationState>
        </div>

        <article class="content px-4">
            @Body
        </article>
    </main>
</div>



@code {
    private bool isOnAccountPage { get; set; }
    
    protected override void OnParametersSet()
    {
        isOnAccountPage = (this.Body.Target as RouteView)?.RouteData?.PageType?.ToString() != "OhMyBoat.UI.Client.Pages.Account";
        showAccount = false;
    }

    private bool showAccount = false;
    private void switchAccountComponent() {
        showAccount = !showAccount;
    }


    private bool showNotifications = false;
    private void switchNotificationsComponent() {
        showNotifications = !showNotifications;
    }
}