@inherits LayoutComponentBase;
@using Microsoft.AspNetCore.Components.Authorization;
@using OhMyBoat.UI.Client.Extensions;
@inject AuthenticationStateProvider authStateProvider;
@inject NavigationManager navManager;
@inject IJSRuntime JsRuntime;


<div class="page">
    <div class="sidebar">
        <NavMenu />
    </div>

    <main>
        <CascadingAuthenticationState>
            <AuthorizeView>
                <Authorized>
                    <button @onclick=logoutClick href="javascript:void(0)">Cerrar Sesión</button>
                </Authorized>
            </AuthorizeView>
        </CascadingAuthenticationState>

        <article class="content px-4">
            @Body
        </article>
    </main>
</div>



@code {
    private async Task logoutClick() {
        if (!await JsRuntime.InvokeAsync<bool>("confirm", "Estás seguro de que quieres cerrar la sesión?"))
            return;
        await logout();
    }
    private async Task logout()
    {
        var authState = (AuthenticationExtension) authStateProvider;
        await authState.ActualizarEstadoAutenticacion(null);
        navManager.NavigateTo("/", true);
    }
}