@using Microsoft.AspNetCore.Components.Authorization
@using System.Security.Claims
@using OhMyBoat.UI.Shared

<div class="top-row navbar navbar-dark">
    <div class="container-fluid">
        <a href="" class="d-flex justify-content-center navbar-logo">
            <img src="Logo.jpg"/>
        </a>
        <button title="Navigation menu" class="navbar-toggler" @onclick="ToggleNavMenu">
            <span class="navbar-toggler-icon"></span> Menu
        </button>
    </div>
</div>

<div class="@NavMenuCssClass nav-scrollable" @onclick="ToggleNavMenu">
    <nav class="flex-column">
        <AuthorizeView>
            <Authorized>
                <div class="nav-item px-3">
                    <NavLink class="nav-link" href="" Match="NavLinkMatch.All">
                        <div class="d-flex flex-row align-items-center ms-2"><Icon Name="IconName.HouseFill" Size="IconSize.x3"></Icon> <span class="ms-2">Home</span></div>
                    </NavLink>
                </div>
                <AuthorizeView Roles= "cliente" Context= "cliente" >
                    <Authorized Context="cliente">
                        <div class="nav-item px-3">
                            <NavLink class="nav-link" href="all-ships">
                                <div class="d-flex flex-row align-items-center ms-2"><Icon Name="IconName.SearchHeart" Size="IconSize.x3"></Icon> <span class="ms-2">Ver navios disponibles </span></div>
                            </NavLink>
                        </div>
                        <div class="nav-item px-3">
                            <NavLink class="nav-link" href="all-landships">
                                <div class="d-flex flex-row align-items-center ms-2"><Icon Name="IconName.Search" Size="IconSize.x3"></Icon> <span class="ms-2">Ver vehículos disponibles </span></div>
                            </NavLink>
                        </div>
                        <div class="nav-item px-3">
                            <NavLink class="nav-link" href="my-landships">
                                <div class="d-flex flex-row align-items-center ms-2"><Icon Name="IconName.CarFrontFill" Size="IconSize.x3"></Icon> <span class="ms-2">Mis Vehiculos</span></div>
                            </NavLink>
                        </div>
                        <div class="nav-item px-3">
                            <NavLink class="nav-link" href="my-ships">
                            <div class="d-flex flex-row align-items-center ms-2"><Icon Name="IconName.TrainFreightFrontFill" Size="IconSize.x3"></Icon> <span class="ms-2">Mis Navios</span></div>
                        </NavLink>
                        </div>
                        <div class="nav-item px-3">
                            <NavLink class="nav-link" href="received-offers">
                                <div class="d-flex flex-row align-items-center ms-2"><Icon Name="IconName.EnvelopeArrowDownFill" Size="IconSize.x3"></Icon> <span class="ms-2">Ofertas Recibidas</span></div>
                            </NavLink>
                        </div>
                        <div class="nav-item px-3">
                            <NavLink class="nav-link" href="sent-offers">
                                <div class="d-flex flex-row align-items-center ms-2"><Icon Name="IconName.EnvelopeArrowUpFill" Size="IconSize.x3"></Icon> <span class="ms-2">Ofertas Enviadas</span></div>
                            </NavLink>
                        </div>
                        <div class="nav-item px-3">
                            <NavLink class="nav-link" href="list-truques-cliente">
                                <div class="d-flex flex-row align-items-center ms-2"><Icon Name="IconName.ArchiveFill" Size="IconSize.x3"></Icon> <span class="ms-2">Trueques Realizados</span></div>
                            </NavLink>
                        </div>
                      </Authorized>
                  </AuthorizeView>
                <AuthorizeView Roles= "jefe,empleado" Context= "EmpladoOjefe" >
                    <Authorized Context="EmpladoOjefe">
                        <div class="nav-item px-3">
                            <NavLink class="nav-link" href="all-landships">
                                <div class="d-flex flex-row align-items-center ms-2"><Icon Name="IconName.ListUl" Size="IconSize.x3"></Icon> <span class="ms-2">Ver vehículos disponibles</span></div>
                            </NavLink>
                        </div>
                        <div class="nav-item px-3">
                            <NavLink class="nav-link" href="all-ships">
                                <div class="d-flex flex-row align-items-center ms-2"><Icon Name="IconName.ListUl" Size="IconSize.x3"></Icon> <span class="ms-2">Ver navíos disponibles</span></div>
                            </NavLink>
                        </div>
                        <div class="nav-item px-3">
                            <NavLink class="nav-link" href="list-clients">
                                <div class="d-flex flex-row align-items-center ms-2"><Icon Name="IconName.FileEarmarkPersonFill" Size="IconSize.x3"></Icon> <span class="ms-2">Listar Clientes</span></div>
                            </NavLink>
                        </div>
                        <div class="nav-item px-3">
                            <NavLink class="nav-link" href="list-permutations">
                                <div class="d-flex flex-row align-items-center ms-2"><Icon Name="IconName.ArrowRepeat" Size="IconSize.x3"></Icon> <span class="ms-2">Listar Trueques</span></div>
                            </NavLink>
                        </div>
                        <div class="nav-item px-3">
                            <NavLink class="nav-link" href="edit-debt">
                                <div class="d-flex flex-row align-items-center ms-2"><Icon Name="IconName.PencilFill" Size="IconSize.x3"></Icon> <span class="ms-2">Editar Deuda</span></div>
                            </NavLink>
                        </div>
                    </Authorized>
                </AuthorizeView>
                <AuthorizeView Roles="jefe" Context="innerContext">
                    <Authorized Context="innerContext">
                        <div class="nav-item px-3">
                            <NavLink class="nav-link" href="admin/register-empleoyee">
                                <div class="d-flex flex-row align-items-center ms-2"><Icon Name="IconName.PersonAdd" Size="IconSize.x3"></Icon> <span class="ms-2">Registar Empleado</span></div>
                            </NavLink>
                        </div>
                        <div class="nav-item px-3">
                            <NavLink class="nav-link" href="admin/reports">
                                <div class="d-flex flex-row align-items-center ms-2"><Icon Name="IconName.GraphUpArrow" Size="IconSize.x3"></Icon> <span class="ms-2">Reportes</span></div>
                            </NavLink>
                        </div>
                    </Authorized>
                </AuthorizeView>
                <AuthorizeView Roles="jefe" Context="innerContext">
                    <Authorized Context="innerContext">
                        <div class="nav-item px-3">
                            <NavLink class="nav-link" href="admin/complaints">
                                <div class="d-flex flex-row align-items-center ms-2"><Icon Name="IconName.ExclamationTriangleFill" Size="IconSize.x3"></Icon> <span class="ms-2">Denuncias</span></div>
                            </NavLink>
                        </div>
                    </Authorized>
                </AuthorizeView>
            </Authorized>
        </AuthorizeView>
    </nav>
</div>

@code {
    private bool collapseNavMenu = true;

    private string? NavMenuCssClass => collapseNavMenu ? "collapse" : null;

    private void ToggleNavMenu()
    {
        collapseNavMenu = !collapseNavMenu;
    }
}
