@using Microsoft.AspNetCore.Components.Authorization
@using System.Security.Claims
@using OhMyBoat.UI.Shared

<div class="top-row navbar navbar-dark">
    <div class="container-fluid">
        <a href="" class="navbar-logo">
            <img src="Logo.jpg"/>
        </a>
        <button title="Navigation menu" class="navbar-toggler" @onclick="ToggleNavMenu">
            <span class="navbar-toggler-icon"></span> Menu
        </button>
        <AuthorizeView>
            <div>
                <h1 class="navbar-role">@Utils.capitalizeRole(context.User.Claims.Where(c => c.Type == ClaimTypes.Role).First().Value.ToString())</h1>
            </div>
        </AuthorizeView>
    </div>
</div>

<div class="@NavMenuCssClass nav-scrollable" @onclick="ToggleNavMenu">
    <nav class="flex-column">
        <AuthorizeView>
            <Authorized>
                    <div class="nav-item px-3">
                        <NavLink class="nav-link" href="" Match="NavLinkMatch.All">
                            <span class="oi oi-home" aria-hidden="true"></span> Home
                        </NavLink>
                    </div>
                <div class="nav-item px-3">
                    <NavLink class="nav-link" href="counter">
                        <span class="oi oi-plus" aria-hidden="true"></span> Counter
                    </NavLink>
                </div>

                <AuthorizeView Roles="jefe" Context="innerContext">
                    <Authorized Context="innerContext">
                        <div class="nav-item px-3">
                            <NavLink class="nav-link" href="fetchData">
                                <span class="oi oi-list-rich" aria-hidden="true"></span> Test Admin Permisos
                            </NavLink>
                        </div>
                    </Authorized>
                </AuthorizeView>
            </Authorized>
        </AuthorizeView>
    </nav>
</div>

@code {
    private bool collapseNavMenu = true;

    private string? NavMenuCssClass => collapseNavMenu ? "collapse" : null;

    private void ToggleNavMenu()
    {
        collapseNavMenu = !collapseNavMenu;
    }
}
