@page "/account"

@using Microsoft.AspNetCore.Components.Authorization;
@using Microsoft.AspNetCore.Authorization;
@using OhMyBoat.UI.Client.Extensions;
@using OhMyBoat.UI.Shared.Entidades;
@using OhMyBoat.UI.Shared;
@using System.Security.Claims
@using System;
@inject HttpClient HttpClient
@inject AuthenticationStateProvider authStateProvider;
@inject NavigationManager navManager
@inject IJSRuntime JsRuntime;
@inject NavigationManager Navegador;
@attribute [Authorize]

<Modal @ref="AccountModal" />

<div class="d-flex flex-column justify-content-center">   
    <div class="d-flex flex-column justify-content-center">
        <div class="d-flex flex-row align-items-center mb-5 justify-content-center">
            <div class="image-div d-flex flex-row align-items-center justify-content-center">
                <img src=@Imagen class="profile-image me-5" style="border-radius: 100%;" alt="User Profile">
                <h1 class="mb-0"> @Nombre</h1>
            </div>
        </div>
        <div class="d-flex flex-column mb-5 justify-content-center border rounded p-4">
            <div>
                <h2>Email:</h2>
                <h3 class="border rounded p-2 mb-4">@Email</h3>
            </div>
            <div>
                <h2>Contacto</h2>
                <h3 class="border rounded p-2 mb-4">@Contacto</h3>
            </div>
            <div>
                <h2>Rol:</h2>
                <h3 class="border rounded p-2 mb-4">@Rol</h3>
            </div>
        </div>
    </div>
    <div>       
        <button class="btn btn-primary" @onclick="EditAccount">
            <div class="d-flex flex-row align-items-center">
                <Icon Name="IconName.PencilFill" Size="IconSize.x4"></Icon>
                <span class="ms-2">Editar Perfil</span>
            </div>
        </button>        
        <button class="btn btn-primary" @onclick="ChangePassword">
            <div class="d-flex flex-row align-items-center">
                <Icon Name="IconName.LockFill" Size="IconSize.x4"></Icon>
                <span class="ms-2">Cambiar Contraseña</span>
            </div>
        </button>
    </div>
</div>

@code {
    private string Nombre = "";
    private string Email = "";
    private string Contacto = "";
    private string Rol = "";
    private string Imagen = "";
    private Usuario user = new Usuario() { Email = "", Nombre = "", Contacto = "" };

    private Modal AccountModal = default!;
    
    protected override async Task OnInitializedAsync()
    {
        await traerUsuario();
    }
    private async Task traerUsuario()
    {
        // TODO: Falta cursar CADP

        var coso = await authStateProvider.GetAuthenticationStateAsync();
        var emailDatos = coso.User.Claims.Where(c => c.Type == ClaimTypes.Email).First().Value;
        var log = new LoginDTO();
        log.Email = emailDatos;
        var nuevoU = await HttpClient.PostAsJsonAsync<LoginDTO>("api/usuario/ObtenerUsuario", log); // ver ese coso
        var mevoyamatar = await nuevoU.Content.ReadFromJsonAsync<Usuario>();

        if (mevoyamatar != null) { 

            Nombre = mevoyamatar.Nombre;
            Email = mevoyamatar.Email;
            Contacto = mevoyamatar.Contacto == "" ? "-" : mevoyamatar.Contacto;
            Rol = Utils.CapitalizeString(mevoyamatar.Rol.ToString());
            Imagen = mevoyamatar.Base64imagen != "" ? mevoyamatar.Base64imagen : "./user.png";
            StateHasChanged();

            // await JsRuntime.InvokeVoidAsync("alert", String(mevoyamatar.toString(),mevoyamatar.Nombre,me));

        } else await JsRuntime.InvokeVoidAsync("alert", "Explote");
    }
    private async Task ViewProfile() => navManager.NavigateTo("account");
    private async Task EditAccount() => navManager.NavigateTo("edit-profile");
    private async Task ChangePassword() {
        var parameters = new Dictionary<string, object>();
        parameters.Add("OnClickCallback", EventCallback.Factory.Create<MouseEventArgs>(this, hideModal));
        await AccountModal.ShowAsync<ChangePassword>(title: "Cambiar Contraseña", parameters: parameters);
    }
    private async Task hideModal(){
        await AccountModal.ShowAsync();
        await AccountModal.HideAsync();
    }
    private async Task LogOut() {
        if (!await JsRuntime.InvokeAsync<bool>("confirm", "Estás seguro de que quieres cerrar la sesión?"))
            return;
        var authState = (AuthenticationExtension) authStateProvider;
        await authState.ActualizarEstadoAutenticacion(null);
        navManager.NavigateTo("/", true);
    }
}
