@page "/admin/register-empleoyee"
@using Microsoft.AspNetCore.Components.Authorization;
@using Microsoft.AspNetCore.Authorization;
@attribute [Authorize(Roles = "jefe")]


<h3>RegistrarEmpleado</h3>

@code {

}
