@page "/"
@using Microsoft.AspNetCore.Components.Authorization
@inject NavigationManager navManager


<PageTitle>Index</PageTitle>

    
    <h1 class="text-center mb-5">¡Bienvenido a Oh My Boat!</h1>
    <AuthorizeView>
        <Authorized>
            <p class="text-center">¡Utiliza el panel de la izquierda para empezar a navegar!</p>
        </Authorized>
        <NotAuthorized>
            <div class="container d-flex justify-content-center align-items-center">
                <div class="d-flex p-4 margin-auto flex-column justify-content-center align-items-center index_button_group">
                    <button class="btn w-75 m-2 btn-lg btn-primary login_button" @onclick="routeLogIn">Iniciar Sesión</button>
                    <button class="btn w-75 m-2 btn-lg btn-secondary register_button" @onclick="routeRegister">Registrarse</button>
                    <button class="btn w-75 m-2 btn-lg btn-secondary" @onclick="routeRecu">Olvide mi contraseña</button>
                </div>
            </div>
        </NotAuthorized>
    </AuthorizeView>

@code {
    private void routeLogIn() {
        navManager.NavigateTo("/login");
    }
    private void routeRegister() {
        navManager.NavigateTo("/register");
    }
    private void routeRecu()
    {
        navManager.NavigateTo("/recover-password");
    }
}