@page "/all-landships"
@using Microsoft.AspNetCore.Components.Authorization;
@using Microsoft.AspNetCore.Authorization;
@attribute [Authorize]

@inject HttpClient HttpClient
@using OhMyBoat.UI.Client.Extensions
@using OhMyBoat.UI.Shared
@using OhMyBoat.UI.Shared.Entidades
@inject IJSRuntime JsRuntime

<h1>Vehiculos disponibles para intercambio</h1>

<AuthorizeView>
    <Authorized>

        @if (ListaTerrestres.Count == 0)
        {
            <p>No hay vehículos terrestres disponibles para intercambio</p>
        }
        else
        {
            <div class="d-flex flex-column">
                @foreach (var Vec in ListaTerrestres)
                {
                    <div class="d-flex flex-row">
                        <p>@Vec.Matricula</p>
                        <img src="@Vec.base64imagen" style="width: max-content; height=25vh" />  
                    </div>
                }
            </div>
        }
    </Authorized>
</AuthorizeView>


@code {
    List<Terrestre> ListaTerrestres= new();


    protected override async Task OnInitializedAsync()
    {
            ListaTerrestres = await  HttpClient.GetFromJsonAsync<List<Terrestre>>("api/Vehiculos/ListarVehiculosDisponibles");      
        }
    } 
