@page "/received-offers"

@using Microsoft.AspNetCore.Components.Authorization;
@using Microsoft.AspNetCore.Authorization;
@attribute [Authorize]
@inject AuthenticationStateProvider authStateProvider;
@inject HttpClient HttpClient
@using OhMyBoat.UI.Client.Extensions
@using OhMyBoat.UI.Shared
@using OhMyBoat.UI.Shared.Entidades
@inject IJSRuntime JsRuntime
@using System.Security.Claims
@inject NavigationManager NavManager

<AuthorizeView Roles="cliente">
    <Authorized>
        <h1>Mis Ofertas Recibidas</h1>

        @if (ReceivedOffers.Count == 0)
        {
            <p>Usted no tiene ninguna oferta enviada aún</p>
        }else{
            @foreach (var ofer in ReceivedOffers ) {
                    <CardText>@ofer.PatenteVehiculoEnviaOferta</CardText>
                    <CardText>@ofer.PatenteVehiculoRecibeOferta</CardText>  
                    
                    <Button Size="Size.Large" Color="ButtonColor.Success" @onclick="()=>aceptarOferta()">Aceptar Ofertar</Button>
                    <Button Size="Size.Large" Color="ButtonColor.Danger" @onclick="()=>rechazarOferta(ofer)">rechazar Ofertar</Button>                                

            }
            }
        }

    </Authorized>
    <NotAuthorized>
       @{NavManager.NavigateTo("/",true);} 
    </NotAuthorized>
</AuthorizeView>

@code {

/*
    
    Nombre ofrece:                                                  A cambio de:

    (Foto de perfil     (foto vehiculoEnviaOferta)         --->     (foto vehiculoRecibeOferta) 
    del que envia       TipoVehiculo, Marca, Modelo, Año            TipoVehiculo, Marca, Modelo, Año
    una oferta)

   [VER DETALLE OFERTA]

*/

    private Modal modal = default!;
    private Modal DetalleModal = default!;

    List<Oferta> ReceivedOffers = new();

    List<Vehiculo> VehiculosRecibeOferta = new();
    List<Vehiculo> VehiculosEnviaOferta = new();

    List<Usuario> ClienteOfertante = new();

    protected override async Task OnInitializedAsync()
    {
        await RecargarLista();
    }

    private async Task RecargarLista()
    {
        var Aut = await authStateProvider.GetAuthenticationStateAsync();
        var MyEmail = Aut.User.Claims.Where(c => c.Type == ClaimTypes.Email).First().Value;


        Usuario us = new Usuario() {Email = MyEmail};
        var respSV = await HttpClient.PostAsJsonAsync("api/Oferta/ListarOfertasRecibidas", us);
        ReceivedOffers = await respSV.Content.ReadFromJsonAsync<List<Oferta>>() ?? new();

        VehiculosRecibeOferta.Clear();
        VehiculosEnviaOferta.Clear();
        ClienteOfertante.Clear();

        foreach (Oferta o in ReceivedOffers)
        {
            Vehiculo VehiculoRecibido = new Vehiculo() { Matricula = o.PatenteVehiculoRecibeOferta};
            var resp1 = await HttpClient.PostAsJsonAsync("api/vehiculos/GetVehiculoPatente", VehiculoRecibido) ?? new();
            if (resp1.StatusCode == System.Net.HttpStatusCode.NetworkAuthenticationRequired)
            {
                await JsRuntime.InvokeVoidAsync("alert", "Matricula innexistente");
                return;
            }

           
            var recibe = await resp1.Content.ReadFromJsonAsync<Vehiculo>() ?? new();
            VehiculosRecibeOferta.Add(recibe);



            Vehiculo VehiculoEnviado= new Vehiculo() { Matricula = o.PatenteVehiculoEnviaOferta};           
            var resp2 = await HttpClient.PostAsJsonAsync("api/vehiculos/GetVehiculoPatente", VehiculoEnviado) ?? new();
            if (resp2.StatusCode == System.Net.HttpStatusCode.NetworkAuthenticationRequired)
            {
                await JsRuntime.InvokeVoidAsync("alert", "Matricula innexistente");
                return;
            }
            var envia = await resp2.Content.ReadFromJsonAsync<Vehiculo>() ?? new();
            VehiculosRecibeOferta.Add(envia);

            var resp3 = await HttpClient.PostAsJsonAsync("api/vehiculos/GetDueño", envia) ?? new();
            if (resp3.StatusCode == System.Net.HttpStatusCode.NetworkAuthenticationRequired){
                await JsRuntime.InvokeVoidAsync("alert", "Dueño innexistente");
                return;
            }

            var ofertante = await resp3.Content.ReadFromJsonAsync<Usuario>() ?? new();
            ClienteOfertante.Add(ofertante);

            /*Tambien se podria hacer con la otra api

            var resp4 = await HttpClient.PostAsJsonAsync("api/Usuario/BuscarUsuario", o.ID_EnviaOferta) ?? new();
            var ofertante2 = await resp1.Content.ReadFromJsonAsync<Cliente>() ?? new();
            ClienteOfertante.Add(ofertante);

            */
        }

        StateHasChanged();
    }


    private async Task aceptarOferta()
    {
        NavManager.NavigateTo("/propose-date",true);
    }

    private async Task rechazarOferta(Oferta ofer)
    {
        var response = await HttpClient.PostAsJsonAsync<Oferta>("api/Oferta/EliminarOferta", ofer);
        RecargarLista();
    }

    private async Task closeModal()
    {
        await modal.ShowAsync();      // https://github.com/vikramlearning/blazorbootstrap/issues/393
        await modal.HideAsync();
        await RecargarLista();
    }
    private async Task hideModal(){
        await DetalleModal.ShowAsync();
        await DetalleModal.HideAsync();
    }
    
}