@page "/moderation/blocked-users"
@using Microsoft.AspNetCore.Components.Authorization;
@using Microsoft.AspNetCore.Authorization;
@attribute [Authorize(Roles = "empleado")]

<h3>ListarClientesBloqueados</h3>

@code {

}
