@page "/forbidden"

<h1>Alto ahí papu</h1>
<img style="height:70vh" src="https://cdn.discordapp.com/attachments/1229445069367672843/1238890975699533885/6e047967-102b-4b78-a395-7a5f5e6bebf3.png?ex=6640eea2&is=663f9d22&hm=aae3dbb766b7dbf980639416f161a13e8d2adc393ceb378fde23851819c4c483&" alt="MoroPNG">
<p>está sona ez para getne auto rizzeada.</p>
<audio autoplay loop preload>
    <source src="https://cdn.discordapp.com/attachments/1229445069367672843/1238890617900367973/tu-ere-pobre-tu-no-tiene-iphone.mp3?ex=6640ee4c&is=663f9ccc&hm=8b378893ae7dc5ac817f24575e31cf308daf788cced3710903e90db4aa9ccc9d&" type="audio/mp3">
</audio>