@page "/forbidden"

<h1>Alto ahí papu</h1>

<iframe width="800" height="600" src="https://www.youtube.com/embed/yzUHolqu-NA?controls=0&autoplay=1&mute=1&loop=1" title="Scout&#39;s Finger" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" referrerpolicy="strict-origin-when-cross-origin" allowfullscreen></iframe>