@page "/recover-password"
@inject HttpClient HttpClient
@using OhMyBoat.UI.Shared.Entidades;
@using OhMyBoat.UI.Shared;
@inject IJSRuntime JsRuntime;
@inject NavigationManager Navegador;

<h3>Recupere su cuenta</h3>


<div class="form_field">
    <h1>Ingrese su email para poder enviarle un link de recuperacion de cuenta</h1>
    <label for="email"><b>E-mail</b></label>
    <input @bind="Email" type="text" placeholder="email@example.com" name="email" required asp-for="Email" />
    <button class="btn btn-primary" type="submit" @onclick="Recuperar">Recuperar cuenta</button>
</div>


@code {
    private LoginDTO CosaMuyCrotaQueHagoPeroFunciona = new();
    private string Email { get; set; } = "";

    private async Task Recuperar()
    {
        if(!Utils.IsValidEmail(Email)){
            await JsRuntime.InvokeVoidAsync("alert", "Ingrese un correo valido");
            return;
        }else
        {
            CosaMuyCrotaQueHagoPeroFunciona.Email = Email;
            var respuestaSV = await HttpClient.PostAsJsonAsync<LoginDTO>("api/cuenta/Recuperacion", CosaMuyCrotaQueHagoPeroFunciona);
            if (respuestaSV.IsSuccessStatusCode)
            {
                await JsRuntime.InvokeVoidAsync("alert", "Si existe una cuenta asociada a ese email recibirá un correo para confirmar la recuperación de la cuenta");
                Navegador.NavigateTo("/");
            }
            else
            {
                await JsRuntime.InvokeVoidAsync("alert", "Error de API");
                Navegador.NavigateTo("/");
            }
        }
    }
}
