@page "/register"
@using OhMyBoat.UI.Shared.Entidades;
@using Microsoft.JSInterop;
@using System;
@inject IJSRuntime JsRuntime;

<html>
    <h1>Crear cuenta</h1>
    <p>Por favor complete sus datos.</p>
    <hr>
    <div class="form_field">
        <label for="email"><b>E-mail</b></label>
        <input @bind="Email" type="text" placeholder="email@example.com" name="email" required asp-for="Email"/>
    </div>
    <div class="form_field">
        <label for="nombre"><b>Nombre Completo</b></label>
        <div id="nombre-contains"> Ingrese su nombre y apellido completos.</div>
        <input @bind="Nombre" type="text" placeholder="John Doe" name="nombre" required/> 
    </div>
    <div class="form_field">
        <div id="password-constraints"> La contraseña debe contener al menos 8 caracteres.</div>
        <div id="password-constraints_2"> Además, debe contener al menos un caracter especial, una mayúscula y dos números.</div>
        <label for="psw"><b>Contraseña</b></label>
        <input @bind="Password" type="password" placeholder="*******" name="psw" required/>
    </div>
    <div class="form_field">
        <label for="fecha de nacimiento"><b>Seleccione su fecha de nacimiento</b></label>
        <input @bind="FechaNac" type="datetime-local" id="Test_DatetimeLocal"/>
        <button class="btn btn-primary" type="submit" @onclick="Registrarse">Registrarse</button>
    </div>
</html>

@code{
    private DateTime FechaNac { get; set; } = DateTime.Now;
    private TimeSpan EighteenYearSpan = new TimeSpan(6574,5, 0, 0, 0);
    private bool MayorDeEdad { get ; set ; } = true; 
    private string Email { get; set; } = "";
    private string Nombre { get; set; } = "";
    private string Password { get; set; } = "";
    private bool IsMayusc(char c){
        return (c >= 'A' && c <= 'Z');
    }
    private bool HasNum(string password){
        char[] characters = password.ToCharArray();
        int numCounter = 0;
        foreach (char c in characters){
            if (char.IsNumber(c)){
                numCounter ++;
            }
        }
        return numCounter > 1;
    }
    private bool IsSymbol(char c){
        String specials = "!?¿¡#$%&/=+-*_@";
        return specials.Contains(c);
    }
    private bool IsLong(string password){
        return password.Length >= 8;
    }
    private bool IsValidPassword(string password){
        return
        IsLong(password) && 
        HasNum(password) &&
        password.Any(c => IsMayusc(c)) && 
        password.Any(c => IsSymbol(c));
    }
    private bool IsValidEmail(string mail){
        if (mail.Length - mail.Replace("@", "").Length == 1 && 
        (mail.Substring(mail.Length - 4).Equals(".com") || 
        mail.Substring(mail.Length - 7).Equals(".com.ar")) ){
            return true;
        };
        return false;
    }

    async private void Registrarse() {
        if (Email == "") {
            await JsRuntime.InvokeVoidAsync("alert", "Flaco el email.");
            return;
        }
        if (!IsValidEmail(Email)) {
            await JsRuntime.InvokeVoidAsync("alert", "Ingrese un correo electrónico válido.");
            return;
        }
        if (Nombre == "") {
            await JsRuntime.InvokeVoidAsync("alert", "Flaco el nombre.");
            return;
        }
        if ((DateTime.Now - FechaNac) <= EighteenYearSpan) {
            await JsRuntime.InvokeVoidAsync("alert", "Debes ser mayor de edad para crear una cuenta");
            return;
        }   
        if (!IsValidPassword(Password)) {
            await JsRuntime.InvokeVoidAsync("alert", "Tu contraseña no es lo suficientemente segura.\nComo mínimo debe tener 8 caracteres, y contener al menos un caracter especial, una mayúscula y dos números");
            return;
        }
        Cliente cliente = new Cliente(Nombre, Email, Password);
    }
}
