@page "/my-ships"
@using Microsoft.AspNetCore.Components.Authorization;
@using Microsoft.AspNetCore.Authorization;
@attribute [Authorize]

<h3>Mis Navios</h3>

@code {
    
    List<Maritimo> MisNavios;

    var Aut = await authStateProvider.GetAuthenticationStateAsync();
    String Email = Aut.User.Claims.Where(c => c.Type == ClaimTypes.Email).First().Value;  

    protected override async Task OnInitializedAsync()
    {
        MisNavios = await ((HttpClient) HttpClient).GetFromJsonAsync<List<Maritimo>>("api/ListarVehiculosMaritimosCliente", Email);
        if (MisNavios.Count == 0)
        {
            await JsRuntime.InvokeVoidAsync("alert", "Aun no hay ningún navío registrado aún.");
        }        
    }
}